<div class="login-body">
    <div class="login-header">
        <app-title title="Login"></app-title>
    </div>

    <div class="login-form">
        <form>
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" id="username" name="username" class="form-control" required #emailInput (input)="0">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" #passwordInput name="password"
                        class="form-control">
                    <button type="button" class="toggle-password" (click)="showPassword = !showPassword">
                        <span class="material-symbols-outlined">
                            {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </span>
                    </button>
                </div>
            </div>

            <div class="form-footer">
                <button type="button" routerLink="/cadastrar" class="cadastrar">Cadastra-se</button>

                <button type="button" routerLink="/recuperar-senha" class="forgot-password">Esqueci minha senha</button>

                <button (click)="login(emailInput.value, passwordInput.value)" type="submit" class="btn btn-primary"
                    [disabled]="!emailInput.validity.valid">
                    <span class="material-symbols-outlined">
                        chevron_forward
                    </span>
                </button>

            </div>

        </form>
    </div>

</div>

<app-alert></app-alert>