@if ((notes$ | async)?.length === 0 && !pageAreLoaded) {
  <div class="no-notes">
    <p>Carregando notas...</p>
    <span class="material-symbols-outlined" id="loading">
      progress_activity
    </span>
  </div>
}

@if ((notes$ | async)?.length === 0 && pageAreLoaded) {
  <div class="no-notes">
    <app-error></app-error>
    <p>
      Por favor, clique em
      <button class="mockup-button">
        <span class="material-symbols-outlined"> add </span>
      </button>
      para adicionar uma nova nota.
    </p>
  </div>
}

@if ((notes$ | async)?.length !== 0) {
  <div class="no-notes-color" style="display: none">
    <app-error></app-error>
    <p>Não há notas disponíveis desssa cor.</p>
  </div>
}

@if (notesFixed$ | async; as notesFixed) {
  @if (notesFixed.length > 0) {
    <span class="fixed-notes-title">
      <p>FIXADAS</p>
    </span>
    <div
      class="note-card-container top"
      [class.list]="(view$ | async) === 'list'"
    >
      @for (note of notesFixed$ | async; track note) {
        <div
          class="note-card"
          (click)="createModalEdit(note)"
          (mouseenter)="showEdit(note)"
          (mouseleave)="hideEdit(note)"
          [attr.data-id]="note.id"
          id="{{ note.color }}"
          [style.backgroundColor]="note.color"
          [class.list]="(view$ | async) === 'list'"
          [class.invisible]="selectedNoteIdEdited === note.id"
          [style.view-transition-name]="
            selectedNoteIdEdited === note.id && !selectedNote
              ? 'active-note'
              : 'none'
          "
        >
          <span
            class="material-symbols-outlined"
            id="fixed"
            [class.active]="activeNoteId === note.id"
            [class.disabled]="noteService.loadingFixed()"
            (click)="fixNote(note.id); $event.stopPropagation()"
          >
            keep_off
          </span>

          <div class="note-body">
            <h3>{{ note.title }}</h3>
            <p>{{ note.content }}</p>
          </div>
          <div class="note-footer" [class.active]="activeNoteId === note.id">
            <span
              class="material-symbols-outlined"
              (click)="
                createModalDelete(
                  note.id,
                  note.title,
                  note.content,
                  note.color
                );
                $event.stopPropagation()
              "
            >
              delete
            </span>

            <span class="date" [innerHTML]="note.createdAt"> </span>
          </div>
        </div>
      }
    </div>
  }
}
<div class="note-card-container" [class.list]="(view$ | async) === 'list'">
  @for (note of notesNotFixed$ | async; track note) {
    <div
      class="note-card"
      (click)="createModalEdit(note)"
      (mouseenter)="showEdit(note)"
      (mouseleave)="hideEdit(note)"
      [attr.data-id]="note.id"
      id="{{ note.color }}"
      [style.backgroundColor]="note.color"
      [class.list]="(view$ | async) === 'list'"
      [class.invisible]="selectedNoteIdEdited === note.id"
      [style.view-transition-name]="
        selectedNoteIdEdited === note.id && !selectedNote
          ? 'active-note'
          : 'none'
      "
    >
      <span
        class="material-symbols-outlined"
        id="fixed"
        [class.active]="activeNoteId === note.id"
        [class.disabled]="noteService.loadingFixed()"
        (click)="fixNote(note.id); $event.stopPropagation()"
      >
        keep
      </span>

      <div class="note-body">
        <h3>{{ note.title }}</h3>
        <p>{{ note.content }}</p>
      </div>
      <div class="note-footer" [class.active]="activeNoteId === note.id">
        <span
          class="material-symbols-outlined"
          (click)="
            createModalDelete(note.id, note.title, note.content, note.color);
            $event.stopPropagation()
          "
        >
          delete
        </span>

        <span class="date" [innerHTML]="note.createdAt"> </span>
      </div>
    </div>
  }
</div>

@if (selectedNote) {
  <div
    class="note-card-edit"
    (click)="
      closeModalEdit(
        selectedNote.id,
        titleInput.value,
        contentInput.value,
        selectedNote.color
      );
      $event.stopPropagation()
    "
  >
    <div
      class="note-card-edit-content"
      style="view-transition-name: active-note"
      [style.backgroundColor]="selectedNote.color"
    >
      <button
        class="close"
        (click)="
          closeModalEdit(
            selectedNote.id,
            titleInput.value,
            contentInput.value,
            selectedNote.color
          );
          $event.stopPropagation()
        "
      >
        <span _ngcontent-ng-c466980344="" class="material-symbols-outlined">
          close
        </span>
      </button>

      <div class="note-card-content" (click)="$event.stopPropagation()">
        <input
          value="{{ selectedNote.title }}"
          placeholder="Digite o título"
          (change)="inputChanged()"
          #titleInput
        />
        <textarea
          placeholder="Digite sua nota"
          (change)="inputChanged()"
          #contentInput
          >{{ selectedNote.content }}</textarea
        >

        <div class="note-card-actions">
          <div class="note-card-colors">
            @for (note of colors; track note) {
              <div
                class="color-option"
                [style.background]="note.color"
                (click)="selectColor(note.color)"
              >
                <div
                  class="color-check"
                  [class.active]="selectedNote.color === note.color"
                >
                  <span class="material-symbols-outlined"> check </span>
                </div>
              </div>
            }
          </div>

          <div class="note-card-actions-right">
            <button
              type="button"
              (click)="
                fixNote(selectedNote.id, !selectedNote.fixed);
                $event.stopPropagation()
              "
              [class.disabled]="noteService.loadingFixed()"
            >
              @if (selectedNote.fixed) {
                <span class="material-symbols-outlined"> keep_off </span>
              }

              @if (!selectedNote.fixed) {
                <span class="material-symbols-outlined"> keep </span>
              }
            </button>
          </div>
        </div>
      </div>
      <div
        class="note-card-footer"
        [class.full]="selectedNote.updatedAt"
        (click)="$event.stopPropagation()"
      >
        @if (selectedNote.updatedAt) {
          <p class="edited">Editada: {{ selectedNote.updatedAt }}</p>
        }
        <p>{{ selectedNote.createdAt }}</p>
      </div>
    </div>
  </div>
}

<!-- @if (showModal) {
  <app-modal
    [note]="selectedNote"
    (closeModal)="showModal = false; loadNotes()"
  >
  </app-modal>
} -->
@if (showDeleteModal) {
  <app-delete
    [noteId]="selectedNoteId!"
    (closeModal)="showDeleteModal = false"
  ></app-delete>
}
