:host {
  padding: 15px 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes popOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.no-notes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}


.no-notes-color {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}


.no-notes-color p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  
}

.no-notes p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  
}

.no-notes #loading {
  font-size: 35px;
  animation: rotate 1.5s linear infinite;
  z-index: -10;
}

.no-notes .mockup-button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #383838;
    color: white;
    transition: all 0.3s ease;
    border: none;
    vertical-align: middle;

}
.note-card {
  width: 210px;
  height: 200px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #383838;
  transition: all 0.3s ease;
  gap: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.note-card.none {
  display: none;
}
.note-card.animate {
  animation: popOut 0.3s ease;
}


.note-card:hover {
  transform: scale(1.1);
}
.note-card h3 {
  font-weight: 600;
}

.note-card p {
  font-weight: 400;
}
.note-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-body p {
  word-break: break-word;
  white-space: pre-wrap;
}
@media (max-width: 600px) {

  :host {
  padding: 14px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
  .note-card {
    width: 100%;
    height: 350px;
    gap: 50px;
  }

  .no-notes {
   height: 70dvh;
   word-break: break-word;
   white-space: pre-wrap;
  }


  .no-notes p {
    font-size: 24px;
  }

  .note-card:hover {
    transform: scale(1.02);
  }

  .note-card h3 {
    font-size: 25px;
  }

  .note-card p {
    font-weight: 15px;
  }
}
.note-footer {
  width: 100%;
  height: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.note-footer span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.note-footer span:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.note-footer.active {
  display: flex;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}