<div class="toolbar-buttons">
  @for (item of items; track $index) {
    <div
      class="toolbar-item"
      (click)="setActiveItem(item.label)"
      title="{{ item.description }}"
    >
      <span [innerHTML]="item.icon"></span>

      <p [class.active]="activeItem() === item.label">{{ item.description }}</p>
    </div>
  }
</div>

<div class="toolbar-action" [class.active]="activeAction()">
  <div class="action-item" [class.active]="activeItem() === 'date'">
    <span class="material-symbols-outlined"> list_arrow </span>
    <p>Ordernar por:</p>
    <select #orderBySelect (change)="setOrderBy(orderBySelect.value)">
      <option value="newest">Mais recentes</option>
      <option value="oldest">Mais antigos</option>
    </select>
  </div>

  <div class="action-item" [class.active]="activeItem() === 'notes'">
    <p>Visualizar por:</p>
    <div class="view-buttons">
      <button value="notes" [class.active]="activeView() === 'notes'" (click)="setActiveView('notes')">Notas</button>
      <button value="list" [class.active]="activeView() === 'list'" (click)="setActiveView('list')">Lista</button>
    </div>
  </div>
</div>
