:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.toolbar-buttons {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
  gap: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.toolbar-action {
  width: 100%;
  height: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolbar-action.active {
  height: auto;
  padding: 5px 15px;
}

.toolbar-item {
  color: white;
  width: fit-content;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #383838;
  padding: 5px 20px;
  color: white;
  position: relative;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toolbar-item span {
  scale: 0.9;
}

.toolbar-item:hover {
  transform: scale(1.05);
}

.toolbar-item p {
  font-size: 0em;
  transition: all 0.3s ease;
}

.toolbar-item p.active {
  margin: 0;
  font-size: 0.9em !important;
}
.action-item {
  width: 0;
  color: white;
  padding: 0;
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0;
  gap: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.action-item.active {
  width: fit-content;
  padding: 5px 15px;
  font-size: 0.75em;
}
.action-item select,
.action-item option {
  background-color: #383838;
  color: white;
  border: transparent;
  cursor: pointer;
}

.action-item select {
  scale: 0;
}

.action-item.active select {
  scale: 0.95;
}

.action-item span {
  scale: 0;
}

.action-item.active span {
  scale: 0.95;
}

@media (max-width: 600px) {
  .toolbar-buttons {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .toolbar-item {
    scale: 1.07;
  }
}
