:host {
  width: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  font-size: 42px;
  font-weight: 500;
  color: #383838;
}
:host img {
  width: 150px;
  height: auto;
}
  
@media (max-width: 600px) {
  :host {
    font-size: 60px;
  }
}
