<div *ngFor="let note of notes" class="note-card" (mouseenter)="showEdit(note)" (mouseleave)="hideEdit(note) "
    id="{{note.color}}" [style.backgroundColor]="note.color">

    <div class="note-body">
        <h3>{{ note.title }}</h3>
        <p>{{ note.content }}</p>
    </div>

    <div class="note-footer" [class.active]="note.showFooter">
        <span class="material-symbols-outlined" (click)="createModal()">edit_square</span>
    </div>
</div>


<app-modal *ngIf="showModal" (closeModal)="showModal = false"></app-modal>