<div class="login-body">
    <div class="login-header">
        <app-title title="Login"></app-title>
    </div>

    <div class="login-form">
        <form>

            <div class="form-group">
                <label for="username">Nome</label>
                <input type="name" #nameInput id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" #emailInput id="email" name="email" class="form-control"
                    placeholder="Digite seu email pessoal" required (input)="0">
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" #passwordInput name="password"
                        class="form-control">
                    <button type="button" class="toggle-password" (click)="showPassword = !showPassword">
                        <span class="material-symbols-outlined">
                            {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Confirme sua senha</label>
                <div class="password-wrapper">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" #confirmPasswordInput
                        name="confirmPassword" class="form-control">
                    <button type="button" class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
                        <span class="material-symbols-outlined">
                            {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
                        </span>
                    </button>
                </div>
            </div>

            <div class="form-footer">


                <button type="button" class="btn btn-primary" [disabled]="!emailInput.validity.valid || isLoading"
                    (click)="register(nameInput.value, emailInput.value, passwordInput.value, confirmPasswordInput.value)">

                    <span class="material-symbols-outlined" *ngIf="!isLoading">
                        chevron_forward
                    </span>


                    <span *ngIf="isLoading" class="material-symbols-outlined" id="loading"  >
                        progress_activity
                    </span>

                </button>

            </div>

        </form>


    </div>


    <button type="button" routerLink="/login" class="back" title="Voltar para o login">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </button>

</div>

<app-alert></app-alert>