<div class="modal-create">
    <div class="modal-content">

        <div class="modal-header">
            <button (click)="close()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>

        <div class="modal-body">
            <input type="text" placeholder="Título">
            <textarea placeholder="Descrição"></textarea>


            <div class="modal-colors">
                <div *ngFor="let note of notes" class="color-option" [style.background]="note.color"
                    (click)="selectNote($event)"></div>
            </div>
        </div>


        <div class="modal-footer">
            <button>
                <span class="material-symbols-outlined">
                    chevron_forward
                </span>
            </button>

        </div>



    </div>
</div>