<button
  class="add-button"
  (mouseenter)="showNoteContent()"
  (mouseleave)="hiddeNoteContent()"
  (click)="createModal()"
  >
  <span class="material-symbols-outlined"> add </span>
</button>

<div class="colors">
  @for (note of notes; track note) {
    <button
      class="note"
      [style.backgroundColor]="note.color"
      (click)="selectNote($event)"
      [class.active]="(noteService.selectedColor$ | async) === note.color"
      id="{{ note.color }}"
    ></button>
  }
</div>

<button
  type="button"
  routerLink="/login"
  class="back"
  title="Voltar para o login"
  >
  <span class="material-symbols-outlined"> arrow_back </span>
</button>

@if (showModal) {
  <app-modal (closeModal)="showModal = false"></app-modal>
}
