<button
  class="add-button"
  (mouseenter)="showNoteContent()"
  (mouseleave)="hiddeNoteContent()"
  (click)="createModal()"
>
  <span class="material-symbols-outlined"> add </span>
</button>

<div class="colors">
  <button
    *ngFor="let note of notes"
    class="note"
    [style.backgroundColor]="note.color"
    (click)="selectNote($event)"
    id="{{ note.color }}"
  ></button>
</div>

<button
  type="button"
  routerLink="/login"
  class="back"
  title="Voltar para o login"
>
  <span class="material-symbols-outlined"> arrow_back </span>
</button>

<app-modal *ngIf="showModal" (closeModal)="showModal = false"></app-modal>
