<div
  class="actionbar"
  [class.active]="actionbarActive == true"
  [class.exiting]="exiting"
>
  <div class="actionbar-right">
    <button class="actionbar-button" (click)="closeActionbar()">
      <span class="material-symbols-outlined"> close </span>
    </button>

    <p>{{ regularizeText(numberSelected) }}</p>
  </div>

  <div class="actionbar-left">
    <button (pointerup)="createModalDelete(); $event.stopPropagation()">
      <span class="material-symbols-outlined">delete </span>
    </button>

    <button (pointerup)="fixNote(); $event.stopPropagation()">
      <span class="material-symbols-outlined"> keep</span>
    </button>
  </div>
</div>

@if (noteService.showDeleteModal$ | async) {
  <app-delete (closeModal)="noteService.setShowDeleteModal(false)"></app-delete>
}
