<div class="modal-create">
    <div class="modal-content">
        <p>Deseja excluir esta nota?</p>
        <div class="buttons">

            <button class="cancel-button" (click)="close()">
                 <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <button class="delete-button" (click)="deleteNote()" [class.disabled]="isLoading">
                <span class="material-symbols-outlined" *ngIf="!isLoading">
                    chevron_forward
                </span>
                <span class="material-symbols-outlined" *ngIf="isLoading" id="loading" >
                    progress_activity
                </span>
            </button>
        </div>
     </div>

</div>