<div class="modal-create">
    <div class="modal-content">
        <p>Deseja excluir esta nota?</p>
        <div class="buttons">

            <button class="cancel-button" (click)="close()">
                 <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <button class="delete-button">
                <span class="material-symbols-outlined">
                    chevron_forward
                </span>
            </button>
        </div>
     </div>

</div>