:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: 30em;
}
img {
  height: 30em;
  object-fit: contain;
  object-position: center top;
}

p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.mockup-button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #383838;
  color: white;
  transition: all 0.3s ease;
  border: none;
  vertical-align: middle;
}

@media (max-width: 600px) {
  :host {
    height: calc(100vh - 370px);
  }
  img {
    width: 18em;
    height: 18em;
  }

  .welcome-image {
    height: 20em;
  }
}
